@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  --main-font: "Roboto", sans-serif;
  --light-purple: #c7acda;
  --gray: #666666;
  --light-gray: #bdbdbd;
  --white: #ffffff;
  --blue: #2d9cdb;
  --red: #eb5757;
  height: 100%;
}

body {
  margin: 0rem;
  font-family: var(--main-font);
  height: 100%;
}

#root {
  height: 100%;
}
